<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week 6</title>
</head>
<body>
<form id='form'>
     <label for="name"><h3>Type something in the box for Input binding:</h3></label>
     <p>
       <input type="text" v-model="msg">
       {{ msg }}
     </p>
    
</form>



<br>
<br>
<br>
<br>

<div id="checkbox" class="demo">
    <h3>Pick fruit for your fruit salad: </h3>
    <input type="checkbox" id="apple" value="Apple" v-model="checkedNames" />
    <label for="apple">Apple</label>
    <input type="checkbox" id="orange" value="Orange" v-model="checkedNames" />
    <label for="orange">Orange</label>
    <input type="checkbox" id="banana" value="Banana" v-model="checkedNames" />
    <label for="banana">Banana</label>
    <br />
    <span>Pick fruits: {{ checkedNames }}</span>
  </div>
  <br>
  <br>
  <br>
  <br>

  <div id="v-for" class="demo">
      <h3>Pick number for your favourite movie:</h3>
    <select v-model="selected">
      <option v-for="movie in movies" v-bind:value="movie.name">
        {{ movie.text }}
      </option>
    </select>
    <br>
    <br>
    <span>Selected: {{ selected }}</span>
  </div>

  <br>
  <br>
  <br>
  <br>

<div id="lazy">
    <h3>Write something in the box and click outside of it for lazy binding:</h3>
    <input type="text" v-model.lazy="inputValue">
    <div>
        {{ inputValue }}
    </div>
</div>
<br>
<br>
<br>
<br>
</body>
<script src="https://unpkg.com/vue@next"></script>
    <script src=app.js></script>
</html>